[package]
name = "actix-net"
version = "0.3.0"
authors = ["Nikolay Kim <fafhrd91@gmail.com>"]
description = "Actix net - framework for the compisible network services for Rust (experimental)"
readme = "README.md"
keywords = ["network", "framework", "async", "futures"]
homepage = "https://actix.rs"
repository = "https://github.com/actix/actix-net.git"
documentation = "https://docs.rs/actix-net/"
categories = ["network-programming", "asynchronous"]
license = "MIT/Apache-2.0"
exclude = [".gitignore", ".travis.yml", ".cargo/config", "appveyor.yml"]
edition = "2018"

[workspace]
members = [
  "actix-codec",
  "actix-connector",
  "actix-rt",
  "actix-service",
  "actix-server",
  "actix-test-server",
  "actix-utils",
  "router",
]

[dev-dependencies]
actix-service = "0.1.1"
actix-codec = "0.1.0"
actix-rt = { path="actix-rt" }
actix-server = { path="actix-server", features=["ssl"] }
env_logger = "0.5"
futures = "0.1.24"
openssl = { version="0.10" }
tokio-openssl = { version="0.3" }
