name: Benchmark

on:
  push:
    branches: [main]

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  check_benchmark:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      - name: Install Rust
        run: |
          rustup set profile minimal
          rustup install nightly
          rustup override set nightly

      - name: Check benchmark
        run: cargo bench --bench=server -- --sample-size=15
