name: CI

on:
  pull_request:
    types: [opened, synchronize, reopened]
  push:
    branches: [master]

jobs:
  build_and_test:
    strategy:
      fail-fast: false
      matrix:
        target:
          - { name: Linux, os: ubuntu-latest, triple: x86_64-unknown-linux-gnu }
          - { name: macOS, os: macos-latest, triple: x86_64-apple-darwin }
          - { name: Windows, os: windows-latest, triple: x86_64-pc-windows-msvc }
        version:
          - 1.46.0 # MSRV
          - 1.47.0
          - 1.48.0
          - 1.49.0
          - 1.50.0
          - stable
          - beta
          - nightly

    name: ${{ matrix.target.name }} / ${{ matrix.version }}
    runs-on: ${{ matrix.target.os }}

    steps:
      - name: Install Native Dependencies (Windows)
        if: matrix.target.os == 'windows-latest'
        run: |
          curl -fsS -o vcpkg.7z https://rocket.rs/static/vcpkg-2019-07-05.7z
          7z x vcpkg.7z -y -bb0
          xcopy .\vcpkg $env:VCPKG_INSTALLATION_ROOT /s /e /h /y /q
          vcpkg integrate install
          echo "VCPKGRS_DYNAMIC=1" >> "$env:GITHUB_ENV"
          echo "VCPKG_ROOT=$env:VCPKG_INSTALLATION_ROOT" >> "$env:GITHUB_ENV"
          echo "$env:VCPKG_INSTALLATION_ROOT\installed\x64-windows\lib" >> "$env:GITHUB_PATH"

      - uses: actions/checkout@v2

      - name: Install ${{ matrix.version }}
        uses: actions-rs/toolchain@v1
        with:
          toolchain: ${{ matrix.version }}-${{ matrix.target.triple }}
          profile: minimal
          override: true

      - name: Generate Cargo.lock
        uses: actions-rs/cargo@v1
        with:
          command: generate-lockfile
      - name: Cache Dependencies
        uses: Swatinem/rust-cache@v1.0.1

      - name: check minimal
        uses: actions-rs/cargo@v1
        with:
          command: check
          args: --workspace --no-default-features --tests

      - name: check full
        uses: actions-rs/cargo@v1
        with:
          command: check
          args: --workspace --bins --examples --tests

      - name: tests
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: -v --workspace --all-features --no-fail-fast -- --nocapture
            --skip=test_h2_content_length
            --skip=test_reading_deflate_encoding_large_random_rustls

      - name: tests (actix-http)
        uses: actions-rs/cargo@v1
        timeout-minutes: 40
        with:
          command: test
          args: --package=actix-http --no-default-features --features=rustls -- --nocapture

      - name: tests (awc)
        uses: actions-rs/cargo@v1
        timeout-minutes: 40
        with:
          command: test
          args: --package=awc --no-default-features --features=rustls -- --nocapture

      - name: Generate coverage file
        if: >
          matrix.target.os == 'ubuntu-latest'
          && matrix.version == 'stable'
          && github.ref == 'refs/heads/master'
        run: |
          cargo install cargo-tarpaulin --vers "^0.13"
          cargo tarpaulin --out Xml
      - name: Upload to Codecov
        if: >
          matrix.target.os == 'ubuntu-latest'
          && matrix.version == 'stable'
          && github.ref == 'refs/heads/master'
        uses: codecov/codecov-action@v1
        with:
          file: cobertura.xml

      - name: Clear the cargo caches
        run: |
          cargo install cargo-cache --no-default-features --features ci-autoclean
          cargo-cache
